{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block content %}
<main>
    <div class="container py-3">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h1 class="text-center">Ingresar Registro</h1>
                <form method="POST" class="text-center card card-body text-center">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-success">Guardar Registro</button>
                </form>
            </div>
        </div>
    </div>
</main>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="{% static 'js/crear_registro.js' %}"></script>
{{ form.media.js }}
{% endblock %}