{% extends 'base.html' %}
{% load static %}
{% block content %}
<main>
    <div class="container py-5">
        <section class="card card-body col-md-8 offset-md-2">
            <h1 class="display-1 text-center">PyTurnos</h1>
            <p class="text-justify">Bienvenidos a la aplicación PyTurnos, que tiene como función el manejo CRM de los registros que se realizan en el biometrico.</p>
            <p class="text-justify">Para realizar el análisis correcto es importante la información sea fácil de interpretar, por lo que para comodidad del usuario se realiza un cargue de archivos de texto plano con una estructura que permite registrar la información con la veracidad posible.</p>
            <p class="text-justify">La busqueda se puede realizar por un rango de fechas en donde se busca todos los registros que tengan un registro de entrada del biometrico, también se puede realizar busqueda por colaborador en específico ya que en ocaciones habra persona con ausentismos.</p>
            <p class="text-justify">El aplicativo puede ser accederse con un usuario, creado por Gestión TIC, y podrá acceder sin inconvenientes. Es una iniciativa que busca mejorar el proceso de analizar situaciones de ausentismos o llegadas tarde.</p>
        </section>  
    </div>
</main>
{% endblock %}