{% extends 'base.html' %}

{% block content %}
    <h1 class="text-center display-3 py-3">Turnos Programados</h1>
    <div class="container py-5">
        {% if turnos_programados %}
        <table class="table table-bordered text-center table-sm align-middle" id="turnosProgramados">
            <thead>
                <tr>
                    <th>ID Turno</th>
                    <th>Empleado</th>
                    <th>Nombre</th>
                    <th>Turno Programado</th>
                    <th>Fecha Turno</th>
                </tr>
            </thead>
            <tbody>
                {% for turno_programado in turnos_programados %}
                <tr>
                    <td>{{turno_programado.id_turno_programado}}</td>
                    <td>{{ turno_programado.empleado.id_empleado }}</td>
                    <td>{{ turno_programado.empleado.nombre_empleado }} {{ turno_programado.empleado.apellido_paterno_empleado }} {{ turno_programado.empleado.apellido_materno_empleado }}</td>
                    <td>{{ turno_programado.turno }}</td>
                    <td>{{ turno_programado.fecha_turno|date:"d-m-Y" }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
            <h1 class="text-center">No hay turnos programados para mostrar, realice una busqueda.</h1>
        {% endif %}
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script>
    // Inicializa DataTables
    $(document).ready(function() {
        $('#turnosProgramados').DataTable();
    });
</script>
{% endblock %}